{% extends "base.html.jinja" %}
{% block left_panel %}
<h2>Rejestracja</h2>
<form method="POST">
    {% csrf_token %}
    {{ form_user_register.as_p }}
    <button type="submit">Zarejestruj się</button>
</form>

{% endblock left_panel %}

